nav {
    position: sticky;
    top: 0px;
    z-index: 10;
}

#Nav-container {
    padding: 15px 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: rgb(0, 24, 47)
}

#NavBar-contain {
    width: 300px;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 1rem;

    list-style: none;
}

#Nav-add-driver {
    width: 100px;
    height: 36px;
    

    background-image: url('../../assets/formula-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0) invert(1) ;
}


.navigate-item {
    color: white;
    text-decoration: none;

    transition-property: all;
    transition-duration: 250ms;
}

.navigate-item:hover {
    transform: scale(1.1);
}