form {
    width: min-content;
    margin: auto;
}

/* ?labels */
.label-name{
    word-wrap: none;
}

/* *input */
.input-section{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.input{
    width: 300px;
}
.input-date{
    width: auto;
}
textarea.input {
    padding: 1rem;
    
}

/* !errors */
.error-message{
    color: red;
}