#cards-section {
    width: max-content;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

#selector-container {
    width: 120px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}