#cards-section {
    width: 720px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#selector-container {
    width: 120px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}